*
{
              width: 400;
              height: 40;
}
h1{
              color: black;
              text-shadow: 2px 3px 4px #949;
              font-family: Georgia, 'Times New Roman', Times, serif;
}
li{
              background-color: #949;
              color: aqua;
              text-shadow: 2px 3px 4px #000;
              width: 400px;

}
ul{
              color: blue;
              background-color: rgb(214, 177, 10);
              width: 100px;
              border: 3px solid;
              box-shadow:  inset 2px 3px 4px #000;
              
}
li{
              color: blue;
              background-color: rgb(214, 177, 10);
              width: 450px;
              height: 30px;
              padding: 5px;
              font-size: 20px;
              border: 3px solid;
              box-shadow:  inset 2px 3px 4px #000;
              border-radius: 10px ;
              
}
h2{
              color: darkcyan;
              text-shadow: 2px 3px 4px #000;
              font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
              border: 3px solid ;
              text-shadow: 2px 3px 4px #000;
}

